@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Checkpoint 2 do thiaguera</h1>
    <a asp-action="index" asp-controller="task">
        To Do
    </a>
</div>
